* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.navBar {
	height: 15%;
	width: 100%;
	background: #ccc;
}

.inner {
	height: 80%;
	width: 8%;
	background: #6495ed;
	position: relative;
	left: 2%;
	top: 10%;
}

.white {
	height: 25%;
	width: 100%;
	background: #fff;
}

.blue {
	height: 15%;
	width: 100%;
	background: #6495ed;
}

.blue-green {
	height: 15%;
	width: 100%;
	background: #61D0B3;
}

.light-green {
	height: 15%;
	width: 100%;
	background: #d3ffce;
}

.yellow {
	height: 15%;
	width: 100%;
	background: #ffa;
}

.holder {
	height: 100%;
	width: 100%;
	padding: 2%;
	display: table;
}

span {
	font-size: 20px;
	font-family: sans-serif;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}