* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.nav {
	height: 15%;
	width: 100%;
	background: #000;
}

.left {
	height: 85%;
	width: 15%;
	background: #c0c0c0;
	float: left;
}

.container {
	height: 85%;
	width: 70%;
	float: left;
}

.content {
	height: 90%;
	width: 100%;
	background: #fff;
}

.footer {
	height: 10%;
	width: 100%;
	background: #000;
}

.right {
	height: 85%;
	width: 15%;
	background: #c0c0c0;
	float: left;
}

span {
	font-style: bold;
	font-size: 1.5em;
}